
.app-container {
    min-height: 200vh;
    transition: margin-right 0.3s ease; /* Change margin-left to margin-right for smooth animation */
    position: relative;
  }
  
  .app-container.scrolled {
    margin-right: -150px;
    display: flex;/* Shift the entire content to the right by the width of the NavBar when scrolled */
  }
  
  .main-content {
    padding: 20px; /* Add padding as needed */
    margin-top: 60px; /* Adjust based on the height of your heading */
  }

  .svg-container {
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .svg-container.scrolled {
    opacity: 1;
    transform: translateY(0);
  }
  
  .vertical-text {
    font-size: 5vw;
    height:50vh;
    font-weight: bold;
    fill: url(#gradient);
  }
  
  @keyframes gradientScroll {
    0% {
      stop-color: #f7350a;
    }
    50% {
      stop-color: #f6781e;
    }
    100% {
      stop-color: #09c0fd;
    }
  }