.btn-primary{
  background-color: rgb(11, 180, 124);
  color: rgb(0, 0, 0); /* Button text color */
  border: none; /* Remove border */
  transition: background-color 0.3s; /* Smooth transition */
}

.btn-primary:hover{
  background-color: #00ff9d;
}

.btn-info{
  width: 30vh;
  font-weight: 600;
  font-size: 2vh;
  height: 15vh;
  margin-left: 10vh;
  margin-right: 10vh;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: rgb(0, 0, 0);
  padding: 29px 30px;
  transition: 1312ms;
  width: 181px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 23px 25px 25px;
  background: linear-gradient(157deg, rgb(0, 204, 136) 0%, rgb(55, 130, 124) 100%);
  --hover-width: 144px;
  --hover-borderSize: 0px;
  --hover-borderc: #000000;
  --hover-bgc: #00d176;
  --hover-color: #ffffffd3;
  flex-direction: row-reverse;
}

.btn-info:hover{
  color: rgba(255, 255, 255, 0.827);
  width: 144px;
  background: rgb(0, 209, 118) none repeat scroll 0% 0% / auto padding-box border-box;
  border-width: 0px;
  border-style: solid;
}
