
@keyframes floatIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .float-left {
    animation: floatIn 1s ease-in-out;
  }

  @media (max-width: 768px) {
    .navbar{
        width: 100%; 
        font-size: 20px !important;
        box-shadow: none; /* Remove box shadow when floating */
        font-weight: 200;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        text-align: center;
        align-items: stretch;
      }
      .navbar ul {
        list-style: none;
        padding: 0;
        margin: 0;
        justify-content: space-between;
        width: 100%;
      }
      .navbar li {
        flex-grow: 1 1;
        margin: 0; /* Remove margin between items for smaller screens */
      }
  }
  .navbar {
    left: 0;
    height: 100%;
    font-size: 50px;
    transition: width 0.3s ease; /* Smooth transition for width changes */
  }
  
  .navbar.float-left {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 20%; /* Set the width of the navbar when floating to the left */
    box-shadow: none; /* Remove box shadow when floating */
    font-size: 50px;
    font-weight: 700;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-align: left;
    justify-content: center;
  }
  /* Styles for the floated-left state */
  .navbar.float-left li {
    margin-bottom: 100px; 
  }
  .navbar.float-left ul {
    border-bottom: none;
  }
  .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px inset #898585;
  }
  
 
    .navbar li{
        display: inline-block;
    }
  
  .navbar a {
    text-decoration: none;
    color: linear-gradient(to left, #52676e, #6b97b7) /* Adjust link color as needed */
  }
  
  /* Add additional styles for your content area */
  .content {
    margin-left: 160px; /* Adjust margin to make space for the sticky navbar */
    padding: 20px; /* Optional: Add padding to the content area */
  }