
@keyframes floatIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .float-left {
    animation: floatIn 1s ease-in-out;
  }

  @media (max-width: 768px) {
    .navbar{
        width: 100%; 
        font-size: 20px !important;
        box-shadow: none; /* Remove box shadow when floating */
        font-weight: 200;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        text-align: center;
        align-items: stretch;
        height: auto; /* Adjust height for mobile */
      }
      .main-content {
        margin-left: 0; /* Remove margin for mobile */
      }
      .navbar ul {
        list-style: none;
        padding: 0;
        margin: 0;
        justify-content: space-between;
        width: 100%;
      }
      .navbar li {
        flex-grow: 1 1;
        margin: 0; 
      }
  }
  .navbar {
    left: 0;
    height: 100%;
    font-size: 4vh;
    transition: width 0.3s ease; 
    display: flex;
    flex-direction: column;
  }
  
  .navbar.float-left {
    z-index: 10;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 20vw;
    box-shadow: none; 
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    justify-content: center;
  }

  /* Styles for the floated-left state */
  .navbar.float-left li {
    margin-bottom: 10vh;
    width: 20vw;
    cursor: pointer;
  }
  .navbar.float-left ul {
    border-bottom: none;
  }
  .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px inset #898585;
  }
  
 
    .navbar li{
        display: inline-block;
    }
  
  .navbar a {
    text-decoration: none;
    color: linear-gradient(to left, #ffffff, #b4cee1) 
  }

  .nav-item.active .nav-link {
    color: #66a7e7; 
    font-weight: bold;
  }