@keyframes floatIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes wobble {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
}

.tech-stack-image-box {
  display: flex;
  justify-content: center; /* Center the container horizontally */
  align-items: center; /* Center vertically if needed */
  width: calc(100% - 10vw); /* Adjust based on your layout */
  position: relative;
  opacity: 0; /* Start as invisible */
  transition: opacity 0.3s ease; /* Smooth transition for visibility */
}

.image-container {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping */
  padding: 10px; /* Add padding inside the box */
  width: calc(100% - 300px); /* Adjust to fit the available space */
  justify-content: space-around; /* Space items evenly */
  align-items: center; /* Center items vertically */
  height: 100%;
}

.tech-stack-image-box img {
  height: 15vh; /* Default height for all images */
  margin: 20px; /* Add more margin between images to spread them out */
  transition: transform 0.3s ease; /* Smooth transition for wobble */
}

.tech-stack-image-box img:hover {
  animation: wobble 0.5s infinite; /* Wobble animation on hover */
}
.image-text {
  position: absolute;
  bottom: 100%; /* Position above the image */
  left: 50%;
  transform: translateX(-50%); /* Center the text horizontally */
  margin-bottom: 10px; /* Adjust spacing between text and image */
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  color: white;
  padding: 5px;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none; /* Make text non-interactive */
  z-index: 1;
}

.image-item:hover .image-text {
  opacity: 1; /* Show text on hover */
}

.image-item {
  position: relative; /* To position text relative to the image */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0; /* Start as invisible */
  animation: fadeInUp 0.5s forwards;
  transition: opacity 0.3s ease;
}
.tech-stack-image-box.visible {
  opacity: 1; /* Make visible when in view */
}

@media (max-width: 768px) {
  .tech-stack-image-box {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100% ;
    position: relative;
    opacity: 0;
    transition: opacity 0.3s ease; 
    margin: auto; 
  }
  
  .image-container {
    display: flex;
    flex-wrap: wrap; 
    padding: 10px;
    width: 100%; 
    justify-content: space-around; 
    align-items: center; 
  }
  
  .tech-stack-image-box img {
    width: 5vh;
    height: 100%;
    margin: 20px; /* Add more margin between images to spread them out */
    transition: transform 0.3s ease; /* Smooth transition for wobble */
  }
  
  .tech-stack-image-box img:hover {
    animation: wobble 0.5s infinite; /* Wobble animation on hover */
  }
  
  .image-text {
    position: absolute;
    bottom: 100%; 
    left: 50%;
    transform: translateX(-50%); 
    background: rgba(0, 0, 0, 0.7); 
    padding: 5px;
    border-radius: 3px;
    pointer-events: none; 
    z-index: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
